LumenApiGateway/vendor
LumenAuthorsApi/vendor
LumenBooksApi/vendor

LumenApiGateway/.env
LumenAuthorsApi/.env
LumenBooksApi/.env

LumenApiGateway/composer.lock
LumenAuthorsApi/composer.lock
LumenBooksApi/composer.lock

LumenApiGateway/storage/*.key
LumenApiGateway/storage/*.key